<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/style.css"/>
	<style>
		body { padding: 0px; }
		.container {
			max-width: 53ch;
		}
		h1 { color: orange; }
		p { color: white; }
	</style>
		<link rel="icon" type="image/x-icon" href="/static/favi.png">
		<title>URL Not Found</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{title}}">
                <meta property="og:title" content="{{title}}"/>
                <meta property="og:url" content="{{domain}}"/>
                <meta property="og:description" content="{{title}}"/>
                <meta property="og:image" content="/static/favi.png"/>
                <meta name="twitter:card" content="{{title}}"/>
	</head>
	<main>
		<div class="container">
			<h1>Error 404</h1>
			<p>Could not find requested URL. Please check for typos, or return <a href="/">home</a></p>
		</div>
		<footer>
                        <p class="orange">Made by <a href="https://lucasvl.nl/">LucasVL</a></p>
                </footer>
	</main>
</html>
