<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/style.css">
	<style>
		.container {
		  max-width: 53ch;
			margin: 50px;
			margin-top: auto;
			margin-bottom: auto;
		}
		p {
		  margin-top: 1em;
		}
	</style>
		<link rel="icon" type="image/x-icon" href="/static/favi.png">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<main>
		<div class="container">
			<p>Could not shorten url due to the following errors:</p>
			<ul class="red">
			{% autoescape false %}
			        {{ errors }}
			{% endautoescape %}
			</ul>
		</div>
		<footer>
                        <p>Made by <a href="https://lucasvl.nl/">LucasVL</a></p>
                </footer>
	</main>
</html>
