<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/style.css">
	<style>
		.container {
			max-width: 53ch;
		}
		p {
		  margin-top: 1em;
		}
	</style>
		<link rel="icon" type="image/x-icon" href="/static/favi.png">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{title}}">
                <meta property="og:title" content="{{title}}"/>
                <meta property="og:url" content="{{domain}}"/>
                <meta property="og:description" content="{{title}}"/>
                <meta property="og:image" content="/static/favi.png"/>
                <meta name="twitter:card" content="{{title}}"/>
	</head>

	<main>
		<div class="container">
			<p>Could not shorten url due to the following errors:</p>
			<ul class="red">
			{% autoescape false %}
			        {{ errors }}
			{% endautoescape %}
			</ul>
			<a href="/">Return Home</a>
		</div>
		<footer>
                        <p>Made by <a href="https://lucasvl.nl/" target="_blank">LucasVL</a></p>
                </footer>
	</main>
</html>
