<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" href="/static/style.css">
		<link rel="icon" type="image/x-icon" href="/static/favi.png">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{title}}">
		<meta property="og:title" content="{{title}}"/>
		<meta property="og:url" content="{{domain}}"/>
		<meta property="og:description" content="{{title}}"/>
		<meta property="og:image" content="/static/favi.png"/>
		<meta name="twitter:card" content="{{title}}"/>
	</head>

	<main>
		<div class="container">
			<form action="/output" method="post">
				<label for="link">Enter link:<br/></label>
  				<input autocomplete="off" type="text" id="link" name="link"><br/><br/>
				<label for="preferred_url">Custom short url (optional)<br/></label>
				<input autocomplete="off" type="text" id="preferred_url" name="preferred_url"><br/><br/>
				<label for="pass">Stats password (optional)<br/></label>
                                <input autocomplete="off" type="password" id="pass" name="pass"><br/><br/>
				<label for="expire">Hours until expires (max {{max_age}})</label><br/>
				<input autocomplete="off" type="number" id="expire" name="expire" min="0" max="{{max_age}}" value="{{default_age}}" step="0.1">
				<div class="reset_on_click">
					<input type="checkbox" id="reset_on_click" name="reset_on_click">
					<label for="reset_on_click" class="reset_label">Reset timer on URL click</label>
				</div>
				{{ xcaptcha }}
				<br/>
				<input class="submit" type="submit" style="font-weight: bold;" value="Shorten!">
			</form>
			<br>
			<label for="toggle"><a>More/Less</a></label>
			<input type="checkbox" id="toggle">
			
			<form action="/" method="post" class="more">
				<br>
				<label for="lookup">Dashboard for: {{domain}}/l/<br/></label>
				<input autocomplete="off" type="text" id="lookup" name="lookup"><br/><br/>
				<input class="submit" type="submit" style="font-weight: bold;" value="Find!">
			</form>
		</div>
		<footer>
			<p>Made by <a href="https://lucasvl.nl/">LucasVL</a></p>
		</footer>
	</main>
</html>
