<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/style.css">
	<style>
		.container {
			margin: 50px;
			margin-top: auto;
			margin-bottom: auto;
			max-width: 53ch;
		}
		.error {
			color: red;
		}
	</style>
		<link rel="icon" type="image/x-icon" href="/static/favi.png">	
		<title>Dashboard for {{url}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<main>
		<div class="container">
			<h1>Dashboard for url {{ url }}</h1>
			<p>Redirects to: {{ link }}</p>
			<p>Clicks: {{ clicks }}</p>
			<p>Expires in: {{ expiry }}</p>
			{% autoescape false %}
			        {{ options }}
			{% endautoescape %}
		</div>
	</main>
</html>
