<!DOCTYPE html>
<html lang="en">
	<head>
	<link rel="stylesheet" href="/static/style.css">
	<style>
		.container {
			max-width: 53ch;
		}
		.url {
			word-break: break-all;
			display: inline;
		}
		.error {
			color: red;
		}
	</style>
		<link rel="icon" type="image/x-icon" href="/static/favi.png">	
		<title>Dashboard for {{url}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<main>
		<div class="container">
			<h1>Dashboard for url<div class="url"> {{ url }}</div></h1>
			<p>Redirects to: <a href="{{link}}">{{ link }}</a></p>
			<p>Clicks: {{ clicks }}</p>
			<p>Expires in: {{ expiry }}</p>
			{% autoescape false %}
			        {{ options }}
			{% endautoescape %}
		</div>
		<footer>
                        <p>Made by <a href="https://lucasvl.nl/">LucasVL</a></p>
                </footer>
	</main>
</html>
