<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="icon" type="image/x-icon" href="/static/favi.png">	
		<title>Login to Access Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<main>
		<div class="container">
			{% autoescape false %}
				{{access}}
			{% endautoescape %}
			<form action="/dash/{{url}}" method="post">
				<label for="link">Enter password for {{url}}:<br></label>
  				<input autocomplete="off" type="password" id="pass" class="pass" name="pass"><br><br>
				<input class="submit" type="submit" style="font-weight: bold;" value="Authenticate">
				
				<p><br/>Extra Options (Optional)</p>
				
				<input type="checkbox" id="delete" name="delete">
				<label for="delete">Delete URL</label><br/>

				<input type="checkbox" id="rmpass" name="rmpass">
				<label for="rmpass">Remove dash password (Locks Settings!)</label><br/>

                                <input type="checkbox" id="rscount" name="rscount">
				<label for="rscount">Reset click counter</label><br/>
				
				<input type="checkbox" id="reset_on_click1" name="reset_on_click">
				<label for="reset_on_click1">Reset auto-delete timer on URL click</label><br/>

				<label for="link">New link:<br></label>
				<input autocomplete="off" type="text" id="link" class="link" name="link"><br><br>

				<label for="expire">Hours until expires (max {{max_age}})<br/></label>
                                <input autocomplete="off" type="number" id="expire" name="expire" min="0" max="{{max_age}}" value="" step="0.1"><br>
			</form>
		</div>
		<footer>
                        <p>Made by <a href="https://lucasvl.nl/">LucasVL</a></p>
                </footer>
	</main>
</html>
